<!-- <div style="height: calc(100% - 20px); width: calc(100% - 20px); margin: 10px;"> -->
<div style="height:100%; width:100%">

    @if(DataService.statusTable.length !=0){
    <div style="height: 100%; overflow-y: auto;">
        @for(item of DataService.statusTable; track item){
        <div
            style="width: calc(100% - 10px); padding-left: 5px; padding-right: 5px; padding-top: 10px; padding-bottom: 10px; border-bottom: black solid 1px;">
            @if(DataService.indexTabs ==1){
            @if(item.attachments.length != 0){
            <div style="height: 200px; width:100%">
                <ng-image-slider *ngIf="showSlider" [images]="item.attachments" [infinite]="infinite"
                    [imagePopup]="imagePopup" [animationSpeed]="animationSpeed" [slideImage]="slideImage"
                    [imageSize]="imageSize" [manageImageRatio]="manageImageRatio" [autoSlide]="autoSlide"
                    [showArrow]="showArrow" [arrowKeyMove]="arrowKeyMove" [videoAutoPlay]="videoAutoPlay"
                    [showVideoControls]="showVideoControls" [direction]="direction" [lazyLoading]="lazyLoading"
                    [defaultActiveImage]="defaultActiveImage">
                </ng-image-slider>
            </div>
            }
            }
            <div style="width:100%; margin-top: 3px;">
                <b>Κατηγορία: </b>
                @if(item.attributes.category == "" || item.attributes.category == null){
                <span>-</span>
                }@else{
                <span>{{item.attributes.category}}</span>
                }
            </div>
            <div style="width:100%; margin-top: 3px;">
                <b>Όνομα: </b>
                @if(item.attributes.name == "" || item.attributes.name == null){
                <span>-</span>
                }@else{
                <span>{{item.attributes.name}}</span>
                }
            </div>
            <div style="width:100%; margin-top: 3px;">
                <b>Περιγραφή: </b>
                @if(item.attributes.description == "" || item.attributes.description == null){
                <span>-</span>
                }@else{
                <span>{{item.attributes.description}}</span>
                }
            </div>
            @if(item.geometry.x == null || item.geometry.y == null){
            }@else{
            <div style="width:100%; cursor: pointer; margin-top: 3px; display: flex; align-items: center;"
                (click)="place(item.geometry.x, item.geometry.y)">
                <b>Τοποθεσία </b>
                <mat-icon>location_on</mat-icon>
            </div>
            }
            <div class="flex-position-bottom-buttons">
                <button mat-raised-button class="primary-button radius-buttons"
                    (click)="accept(item.attributes.OBJECTID, item.attributes.category, item.geometry.x, item.geometry.y)">Αποδοχή</button>
                <span class="spacer-position-bottom-buttons"></span>
                <button mat-raised-button class="delete-primary-button radius-buttons"
                    (click)="cancel(item.attributes.OBJECTID, item.attributes.category)">Ακύρωση</button>
            </div>
        </div>
        }

    </div>
    }@else {
    <div style="height: 100%; width:100%; display: flex; align-items: center; justify-content: center;">
        <span>Δεν υπάρχουν εκκρεμότητες</span>
    </div>
    }

</div>