<!-- header toolbar ////////// header toolbar ////////// header toolbar ////////// header toolbar ////////// header toolbar ////////// -->
<mat-toolbar class="toolbar-dialog">

    <div>
        Προσθήκη νέου σημείου στον χάρτη
    </div>

    <span class="toolbar-spacer"></span>
    <button mat-icon-button mat-dialog-close class="delete-button-pupups">
        <mat-icon>close</mat-icon>
    </button>
</mat-toolbar>


<!-- container ////////// container ////////// container ////////// container ////////// container ////////// -->
<mat-dialog-content class="popup-container">
    <div class="align-popup-container">

        <mat-tab-group animationDuration="0ms" style="height: 100%; width: 100%;"
            (selectedTabChange)="changeTabs($event)" #tabsStep>
            <mat-tab label="Μονοήμερη εκδήλωση">
                @if(indexTabs ==0){
                <div class="informations-popup-container">


                    <form class="form-informations-popup-container" [formGroup]="eventsControls">
                        <mat-form-field [appearance]="'outline'" style="width: 100%; margin-top: 10px;">
                            <mat-label>Τίτλος</mat-label>
                            <input matInput formControlName="titleControlEvents">
                        </mat-form-field>

                        <mat-form-field [appearance]="'outline'" style="width: 100%; margin-top: 10px;">
                            <mat-label>Ημερομηνία</mat-label>
                            <input matInput autocomplete="off" [matDatepicker]="picker"
                                formControlName="dateFromControlEvents">
                            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                        <!-- 
                        <mat-form-field [appearance]="'outline'" style="display: none;">
                            <mat-label>Ημερ. Εώς</mat-label>
                            <input matInput autocomplete="off" [matDatepicker]="pickerTo"
                                formControlName="dateToControlEvents">
                            <mat-datepicker-toggle matIconSuffix [for]="pickerTo"></mat-datepicker-toggle>
                            <mat-datepicker #pickerTo></mat-datepicker>
                        </mat-form-field> -->

                        <div style="width:100%; margin-top: 10px;">
                            <mat-form-field [appearance]="'outline'" style="width: 49%; margin-right: 2%;">
                                <mat-label>Γεωγραφικό πλάτος (φ)</mat-label>
                                <input matInput value="{{DataService.latitudeAdmin}}"
                                    formControlName="latControlEvents">
                            </mat-form-field>
                            <mat-form-field [appearance]="'outline'" style="width: 49%;">
                                <mat-label>Γεωγραφικό μήκος (λ)</mat-label>
                                <input matInput value="{{DataService.longitudeAdmin}}"
                                    formControlName="longControlEvents">
                            </mat-form-field>
                        </div>

                        <mat-form-field [appearance]="'outline'" style="width: 100%; margin-top: 10px;">
                            <mat-label>Περιγραφή</mat-label>
                            <textarea matInput formControlName="descriptionControlEvents"></textarea>
                        </mat-form-field>

                        <mat-form-field [appearance]="'outline'" style="width: 100%; margin-top: 10px;">
                            <mat-label>Εισαγωγή Link</mat-label>
                            <input matInput formControlName="linkControlEvents">
                        </mat-form-field>

                    </form>
                </div>
                <div class="images-popup-container-events">
                    @if(tableImagesEvents.length != 0){
                    <div class="remove-image-div">
                        <mat-icon class="remove-image-icon" mat-icon-button color="warn"
                            (click)="removeImagesEvents(sliderEvents.visiableImageIndex)">close</mat-icon>
                    </div>
                    }
                    <div style="height: 100%; width:100%">
                        @if(tableImagesEvents.length != 0){
                        <ng-image-slider [images]="tableImagesEvents" [infinite]="infinite" [imagePopup]="imagePopup"
                            [animationSpeed]="animationSpeed" [slideImage]="slideImage" [imageSize]="imageSize"
                            [manageImageRatio]="manageImageRatio" [autoSlide]="autoSlide" [showArrow]="showArrow"
                            [arrowKeyMove]="arrowKeyMove" [videoAutoPlay]="videoAutoPlay"
                            [showVideoControls]="showVideoControls" [direction]="direction" [lazyLoading]="lazyLoading"
                            [defaultActiveImage]="defaultActiveImage" #navEvents>
                        </ng-image-slider>
                        }@else{
                        <div [ngClass]="{'errors-texts': insertImagesEventsText == true}"
                            style="height: 100%; width:100%; display: flex; justify-content: center; align-items: center; text-align: center;">
                            Εισαγωγή εικόνων*
                        </div>
                        }
                    </div>
                    @if(tableImagesEvents.length != 0){
                    @if(sliderEvents){
                    <div>
                        {{sliderEvents.visiableImageIndex + 1}} / {{tableImagesEvents.length}}
                    </div>
                    }
                    }
                    <div style="margin-top:5px; margin-bottom:5px">
                        <button mat-mini-fab class="primary-button radius-buttons" (click)="fileInputImages.click()"
                            matTooltip="Upload image">
                            <mat-icon>upload</mat-icon>
                        </button>
                        <input type="file" #fileInputImages style="display: none;" (change)="uploadImagesEvents($event)"
                            multiple accept="image/png, image/gif, image/jpeg, image/jpg">
                    </div>
                </div>
                }
            </mat-tab>


            <mat-tab label="Πολυήμερη εκδήλωση">
                @if(indexTabs ==1){
                <div class="informations-popup-container">
                    <form class="form-informations-popup-container" [formGroup]="eventsControls">
                        <mat-form-field [appearance]="'outline'" style="width: 100%; margin-top: 10px;">
                            <mat-label>Τίτλος</mat-label>
                            <input matInput formControlName="titleControlEvents">
                        </mat-form-field>

                        <div style="width:100%; margin-top: 10px;">
                            <mat-form-field [appearance]="'outline'" style="width: 49%; margin-right: 2%;">
                                <mat-label>Ημερ. Από</mat-label>
                                <input matInput autocomplete="off" [matDatepicker]="pickerFrom"
                                    formControlName="dateFromControlEvents">
                                <mat-datepicker-toggle matIconSuffix [for]="pickerFrom"></mat-datepicker-toggle>
                                <mat-datepicker #pickerFrom></mat-datepicker>
                            </mat-form-field>

                            <mat-form-field [appearance]="'outline'" style="width: 49%;">
                                <mat-label>Ημερ. Εώς</mat-label>
                                <input matInput autocomplete="off" [matDatepicker]="pickerTo"
                                    formControlName="dateToControlEvents">
                                <mat-datepicker-toggle matIconSuffix [for]="pickerTo"></mat-datepicker-toggle>
                                <mat-datepicker #pickerTo></mat-datepicker>
                            </mat-form-field>
                        </div>

                        <div style="width:100%; margin-top: 10px;">
                            <mat-form-field [appearance]="'outline'" style="width: 49%; margin-right: 2%;">
                                <mat-label>Γεωγραφικό πλάτος (φ)</mat-label>
                                <input matInput value="{{DataService.latitudeAdmin}}"
                                    formControlName="latControlEvents">
                            </mat-form-field>
                            <mat-form-field [appearance]="'outline'" style="width: 49%;">
                                <mat-label>Γεωγραφικό μήκος (λ)</mat-label>
                                <input matInput value="{{DataService.longitudeAdmin}}"
                                    formControlName="longControlEvents">
                            </mat-form-field>
                        </div>

                        <mat-form-field [appearance]="'outline'" style="width: 100%; margin-top: 10px;">
                            <mat-label>Περιγραφή</mat-label>
                            <textarea matInput formControlName="descriptionControlEvents"></textarea>
                        </mat-form-field>

                        <mat-form-field [appearance]="'outline'" style="width: 100%; margin-top: 10px;">
                            <mat-label>Εισαγωγή Link</mat-label>
                            <input matInput formControlName="linkControlEvents">
                        </mat-form-field>

                    </form>
                </div>
                <div class="images-popup-container-events">
                    @if(tableImagesEvents.length != 0){
                    <div class="remove-image-div">
                        <mat-icon class="remove-image-icon" mat-icon-button color="warn"
                            (click)="removeImagesEvents(sliderEvents.visiableImageIndex)">close</mat-icon>
                    </div>
                    }
                    <div style="height: 100%; width:100%">
                        @if(tableImagesEvents.length != 0){
                        <ng-image-slider [images]="tableImagesEvents" [infinite]="infinite" [imagePopup]="imagePopup"
                            [animationSpeed]="animationSpeed" [slideImage]="slideImage" [imageSize]="imageSize"
                            [manageImageRatio]="manageImageRatio" [autoSlide]="autoSlide" [showArrow]="showArrow"
                            [arrowKeyMove]="arrowKeyMove" [videoAutoPlay]="videoAutoPlay"
                            [showVideoControls]="showVideoControls" [direction]="direction" [lazyLoading]="lazyLoading"
                            [defaultActiveImage]="defaultActiveImage" #navEvents>
                        </ng-image-slider>
                        }@else{
                        <div [ngClass]="{'errors-texts': insertImagesEventsText == true}"
                            style="height: 100%; width:100%; display: flex; justify-content: center; align-items: center; text-align: center;">
                            Εισαγωγή εικόνων*
                        </div>
                        }
                    </div>
                    @if(tableImagesEvents.length != 0){
                    @if(sliderEvents){
                    <div>
                        {{sliderEvents.visiableImageIndex + 1}} / {{tableImagesEvents.length}}
                    </div>
                    }
                    }
                    <div style="margin-top:5px; margin-bottom:5px">
                        <button mat-mini-fab class="primary-button radius-buttons" (click)="fileInputImages.click()"
                            matTooltip="Upload image">
                            <mat-icon>upload</mat-icon>
                        </button>
                        <input type="file" #fileInputImages style="display: none;" (change)="uploadImagesEvents($event)"
                            multiple accept="image/png, image/gif, image/jpeg, image/jpg">
                    </div>
                </div>
                }
            </mat-tab>
        </mat-tab-group>

    </div>


</mat-dialog-content>
<mat-dialog-actions align="end">
    <!-- @if(editButtonEnabled){ -->
    <button mat-stroked-button cdkFocusInitial class="primary-button cursor-button"
        (click)="addEvent()">Τροποποίηση</button>
    <!-- }@else{
    <button mat-stroked-button disabled>Τροποποίηση</button>
    } -->

</mat-dialog-actions>