<!-- container ////////// container ////////// container ////////// container ////////// container ////////// -->
<mat-dialog-content class="popup-container">

    <div class="container-text">
        Θέλετε σίγουρα να κάνετε προσθήκη;
    </div>

</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button (click)="accept()" style="cursor: pointer;" class="reset-button" mat-dialog-close>Ναι</button>
    <span class="spacer-position-bottom-buttons"></span>
    <button mat-button (click)="cancel()" style="cursor: pointer;" mat-dialog-close>Όχι</button>
</mat-dialog-actions>