// container-----container-----container-----container-----container
.loading-container {
    width: 100%;
    position: absolute;
    top: 0px;
    bottom: 40px;
    background-color: var(--color-tetriary);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-sizing: border-box;
    flex-wrap: wrap;
    gap: 1rem;
}
::ng-deep .mdc-linear-progress__bar-inner {
    border-color: var(--color-secondary) !important;
}