// Τα buttons κάτω χαμηλά.
.position-bottom-buttons {
    position: absolute;
    bottom: 5px;
    width: 100%;
    margin-top: 5px;
    margin-left: 5px;
}

.flex-position-bottom-buttons {
    width: 100%;
    margin-top: 10px;
    display: flex;
}

.spacer-position-bottom-buttons {
    flex: 1 1 auto;
}