<div class="container-map">
    <!-- <button mat-mini-fab (click)="onAddButtonClick()" style="position: absolute; top: 10px; right: 10px; z-index: 99;">
      <mat-icon>add</mat-icon>
    </button> -->
    <div class="map" [class.add-cursor]="adding" id="viewMap"></div>
    <button mat-fab id="addPointBtn" matTooltip="Προσθήκη νέου σημείου"
      [ngClass]="adding ? 'add-point-select' : 'add-point-not-select'" (click)="onAddButtonClick()">
      <mat-icon style="color: green; z-index: 0;">add</mat-icon>
    </button>
  </div>